<html>
<head>
  <title>REPY Catalog</title>
</head>
<body>
  <h1>REPY Catalog</h1>
  <script>
    baseUrl = "https://storage.googleapis.com/repy-176217.appspot.com/";
    function loadCatalog() {
      let main = document.getElementById("maindiv");
      main.innerHTML = "Loading...";
      let xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          let catalog = JSON.parse(this.responseText);
          showCatalog(catalog);
        }
      };
      xmlhttp.open("GET", baseUrl + 'catalog.json', true);
      console.info("sending xhr request");
      xmlhttp.send();
    }

    function linkLi(title, href) {
      let li = document.createElement('li');
      let a = document.createElement('a');
      a.href = href;
      a.textContent = title;
      li.appendChild(a);
      return li;
    }

    function showCatalog(catalog) {
      let main = document.getElementById("maindiv");
      main.innerHTML = "";
      console.info(catalog);
      catalog.Entries.sort((a,b) => a.Timestamp < b.Timestamp);
      catalog.Entries.unshift({
        Parsed: "latest.json",
        Iso8859_8: "latest.txt",
        Original: "latest.repy",
        Sha1Sum: "latest",
        TimeStamp: "Latest",
      });
      let ul = document.createElement('ul');
      catalog.Entries.forEach(function(entry) {
        let li = document.createElement('li');
        li.innerText = entry.TimeStamp + ' (' + entry.Sha1Sum + ')';
        ul.appendChild(li);

        let subUl = document.createElement('ul');
        subUl.appendChild(linkLi('JSON' , baseUrl + entry.Parsed));
        subUl.appendChild(linkLi('TXT iso8859-8' , baseUrl + entry.Iso8859_8));
        subUl.appendChild(linkLi('REPY cp862' , baseUrl + entry.Original));
        ul.appendChild(subUl);
      });
      main.appendChild(ul);
    }
  </script>
  <div id="topdiv">
    <p>The catalog is coming from REPY downloaded from the Technion. This is
    cached and updated hourly.  The parsing code is available at <a
      href="http://github.com/lutzky/repy">github.com/lutzky/repy</a>.
    </p>
  </div>
  <div id="maindiv">
  </div>
  <script>loadCatalog();</script>
</body>
</html>
