<html>
<head>
  <title>REPY Viewer</title>
</head>
<body>
  <h1>REPY Viewer</h1>
  <script>
    jsonUrl = "https://storage.googleapis.com/dev-machine-152620.appspot.com/latest.json";
    function loadCatalog() {
      var main = document.getElementById("maindiv");
      main.innerHTML = "Loading...";
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var catalog = JSON.parse(this.responseText);
          showCatalog(catalog);
        }
      };
      xmlhttp.open("GET", jsonUrl, true);
      console.info("sending xhr request");
      xmlhttp.send();
    }

    function showCatalog(catalog) {
      var main = document.getElementById("maindiv");
      main.innerHTML = "";
      main.style = "direction: rtl";
      for (var i = 0; i < catalog.length; i++) {
        var faculty = catalog[i];
        var h = document.createElement("h2");
        h.innerText = faculty.Name;
        main.appendChild(h);
        var ul = document.createElement("ul");
        main.appendChild(ul);
        for (var j = 0; j < faculty.Courses.length; j++) {
          var course = faculty.Courses[j];
          var li = document.createElement("li");
          li.innerText = course.ID + " " + course.Name;
          ul.appendChild(li);
        }
      }
    }
  </script>
  <div id="topdiv">
    <p>The catalog is coming from REPY downloaded from the Technion, available
    as JSON <a id="jsonLink" href="/">here</a>. This is cached and updated
    hourly.  The parsing code is available at <a
                             href="http://github.com/lutzky/repy">github.com/lutzky/repy</a>
    </p>
  </div>
  <script>
    document.getElementById("jsonLink").href = jsonUrl;
  </script>
  <div id="maindiv">
    <p><a onclick="loadCatalog()" href="#">Load catalog</a></p>
  </div>
</body>
